<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>ZFS Assistant</vendor>
  <vendor_url>https://github.com/am2998/zfs-assistant</vendor_url>
  <icon_name>zfs-assistant</icon_name>

  <action id="org.zfs-assistant.pkexec.run">
    <description>Run ZFS Assistant</description>
    <message>Authentication is required to run ZFS Assistant</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/zfs-assistant-launcher</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="org.zfs-assistant.zfs.manage">
    <description>Manage ZFS filesystems and snapshots</description>
    <message>Authentication is required to manage ZFS filesystems</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
